h1 {
    font-weight: bolder;
    text-align: center;
    padding: 40px 0 20px;
}

#total-balance {
    text-align-last: right;
}

#filters {
    display: inline-block;
    padding-right: 50px;
}

tr:hover td {
    background-color: gray!important;
    color: #fff!important;
}

header .container-fluid {
    background-color: #212529;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sticky-top {
    padding-top: 5px!important;
}



